/* src/index.css */

/* Temel CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  /* Arka plan rengini buradan kaldırıyoruz, çünkü artık sütunlar kendi renklerini yönetiyor */
  /* background-color: #f4f7f6; */
  color: #333;
}

#root {
  min-height: 100vh;
  /* #root'un da dikey bir flex container olmasını sağlıyoruz ki içindeki .authContainer düzgün yayılsın */
  display: flex;
  flex-direction: column;
}